<form id="sleep-form" class="form center-align">

    <!--Enter Sleep Title -->
     <div class="row">
        <div class="input-field col s12">
            <input type="text" id="sleep-title" />
            <label for="sleep-title">Title:</label>
        </div>
    </div>

    <!--Enter Sleep Description -->
    <div class="row">
        <div class="input-field col s12">
            <textarea type="text" id="sleep-description"></textarea>
            <label for="sleep-description">Sleep description:</label>
        </div>
    </div>

    <!--Enter Hours Slept -->
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="hours-slept" />
            <label for="hours-slept">Hours slept:</label>
        </div>
    </div>
    

    <!--Enter If Dream of Not -->
    <p>
        <label>
            <input type="checkbox" class="filled-in" id="dream-sw" onclick="showDreamDescription()" />
            <span>Did you have a Dream?</span>
        </label>
    </p>

    <!--Enter Dream Description -->
    <div class="row">
        <div class="input-field col s12" id="dream-description-cont">
            <textarea type="text" id="dream-description"></textarea>
            <label for="dream-description">Dream description:</label>
        </div>
    </div>

    <!--Enter Tags -->
    <div class="input-field col s12">
        <select multiple id="tagMenu">
            <option value="" disabled="disabled">None</option>
            {{#each tag}}
            <option value={{id}}>{{ tag_name }}</option>
            {{/each}}
        </select>
        <label>Choose your Tags:</label>
    </div>

    <!--Submit Button -->
    <div class="container">
        <div class="center">
            <button class="form-button" type="submit">Post</button>
        </div>
    </div>
</form>

{{#if loggedIn}}
<script src="/javascript/createSleep.js"></script>
{{/if}}