<form class="sleep-form">

    <!--Enter Sleep Title -->
    <div>
        <label for="sleep-title">Title:</label>
        <input type="text" id="sleep-title" />
    </div>

    <!--Enter Sleep Description -->
    <div>
        <label for="sleep-description">Sleep description:</label>
        <textarea type="text" id="sleep-description"></textarea>
    </div>

    <!--Enter Hours Slept -->
    <div>
        <label for="hours-slept">Hours slept:</label>
        <input type="text" id="hours-slept" />
    </div>

    <!--Enter If Dream of Not -->
    <div>
        <label for="dream-sw">Dream?</label>
        <input type="radio" id="dream-sw" />
    </div>

    <!--Enter Dream Description -->
    <div>
        <label for="dream-description">Dream description:</label>
        <textarea type="text" id="dream-description"></textarea>
    </div>

    <!--Enter Tags -->
    <div>
        <a class="tag-dropdown btn" href="#" data-target="dropdown">Tags</a>
        <ul id="dropdown" class="dropdown-content">
            <li><a href="#!">None</a></li>
        </ul>
    </div>

    <!--Submit Button -->
    <div class="container">
        <div class="center">
            <button type="submit">Sign Up!</button>
        </div>
    </div>
</form>

<script src="/javascript/signup.js"></script>