<div>
    {{#each sleep}}
    <div>
        <h2>Title</h2>
        <div>Hours</div>
        <div>
            <div>Dream?</div>
            <div>Dream</div>
        </div>
        <div>Sleep</div>
    </div>
    {{/each}}
</div>