<form class="login-form center-align">
    <div class="row">
        <div class="input-field col s12">
            <input type="email" id="email-login" />
            <label for="email-login">Email:</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input type="password" id="password-login" />
            <label for="password-login">Password:</label>
        </div>
    </div>
    <div class="container">
        <div class="center">
            <button type="submit" class="login-button">LOGIN</button>
        </div>
    </div>
</form>

<script src="/javascript/login.js"></script>