/* //b388ff */
:root {
    --color-one: #CCCCFF;
    --color-two: #b388ff;
    --color-three: whitesmoke;
    --color-four: #ffe683;
    --color-five: #5f30af;
    --color-six: darkgoldenrod;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: var(--color-two);
}

.headerClass a {
    color: whitesmoke;
    text-shadow: 1px 1px #CCCCFF;
}

.navClass {
    background-color: #ffe683;
    box-shadow: 2px 2px darkgoldenrod;
}

.navClass button{
    background: none;
	color: #b388ff;
    font-size: 13px;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navClass a {
    color:#b388ff;
}

.sleeps {
    background-color: #ffe683;
    margin: 50px;
    border: 2px whitesmoke solid;
    box-shadow: 4px 4px whitesmoke;
    border-radius: 4px;
    color: #5f30af;
    text-shadow: 1px 1px whitesmoke;
    padding: 5px 0;
}

.hours-slept {
    font-size: 32px;
    background-color: #5f30af;
    min-width: fit-content;
    border-radius: 10px;
    color: whitesmoke;
    text-shadow: none;
}

.author {
    font-size: 30px;
    padding: 0 10px;
}

.sleeps p {
    font-size: large;
}

.sleeps strong {
    /* background-color: white; */
    padding: 5px 0 0 0;
    color: white;
    font-size: 22px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    text-shadow: -1px -1px 0 #5f30af, 1px -1px 0 #5f30af, -1px 1px 0 #5f30af, 1px 1px 0 #5f30af;
}

.footer-container {
    display: inline;
}

.tag-container {
    padding: 0 0 0 10px;
}

.tags {
    border-radius: 10px;
    background-color: #CCCCFF;
    display: inline;
    padding: 5px;
    margin: 0 10px; 
    border: 2px whitesmoke solid;
    color: whitesmoke;
    text-shadow: 1px 1px #5f30af; 
    min-width: fit-content;
}

.login-form {
    margin: 50px 500px 0px 500px;
    background-color: white;
    min-width: 300px;
    display: center;
    box-shadow: 4px 4px #CCCCFF;
}

.signup-form {
    margin: 50px 500px 0px 500px;
    background-color: white;
    box-shadow: 4px 4px #CCCCFF
}

.login-button {
    margin: 0 10px 10px 10px;
    min-width: 60px;
    font-size: 25px;
    background-color: #CCCCFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    border: none;
    padding: 10px;
}
/*  */

